.address {
  @media (max-width: @mobile-width) {
    padding: 0 30px;
    margin: 0 0 60px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 50px 40px 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 20px 80px 0;
  }
}

.address__body {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.address__row {
  vertical-align: top;

  &:not(:last-child) {
    margin-right: 30px;
  }

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.address__header {
  margin: 0;
  padding: 0 25px 40px 0;
  white-space: nowrap;
  line-height: 30px;
  font-weight: normal;

  @media (max-width: @mobile-width) {
    padding: 0 25px 33px 0;
    font-size: 15px;
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    padding: 0px 25px 25px 0;
  }
}

.address__value {
  line-height: 30px;
  font-style: normal;

  @media (max-width: @mobile-width) {
    font-size: 15px;
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.address__link {
  border-bottom: 1px solid @special-green-62;
}

.address__place {
  font-style: normal;
}
