.card {
  outline: 5px solid rgba(128, 0, 0, 0.5);
  outline-offset: -5px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: flex;
  }
}

.card__wrapper {
  flex-grow: 1;
  margin: 0;
  padding: 0 30px;
}

.card__title {
  margin: 25px 0 5px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.card__stats {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid @special-grey-ec;
  font-size: 13px;
  line-height: 30px;
}

.card__price {
  display: block;
  padding: 25px 0 20px 0;
  border-bottom: 1px solid @special-grey-ec;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}
