.logo__img {
  &--header {
    width: 86px;

    @media (min-width: @tablet-width) {
      width: 112px;
    }

    @media (min-width: @desktop-width) {
      width: 148px;
    }
  }

  &--footer {
    @media (max-width: @mobile-width) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      width: 102px;
    }
  }
}
