.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;

  @media (max-width: @mobile-width) {
    flex-direction: column;
  }

}

.main-nav__toggle {
  @media (min-width: @mobile-width) {
    display: none;
  }
}
