.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;

  @media (max-width: @mobile-width) {
    flex-direction: column;
  }
}

.main-nav__toggle {
  @media (max-width: @mobile-width) {
    position: absolute;
    top: 25px;
    right: 30px;
    background-color: transparent;
    border: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  &--open {
    display: none;
  }
}
