.page-footer {
  background-color: @basic-grey;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: @mobile-width) {
    flex-direction: column;
  }
}

.page-footer__logo {
  @media (max-width: @mobile-width) {
    display: none;
  }
}
