.page-main__title {
  display: block;
  margin: 0 0 110px 0;
  padding: 140px 0;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    margin: -80px 0 110px 0;
  }
}

.page-main__notification {
  margin-bottom: 60px;
}
