.page-header {
  display: flex;
  //flex-wrap: wrap;
}

.page-header__delivery-notification {
  @media (max-width: @mobile-width) {
    display: none;
  }
}

.page-header__logo {
  display: block;

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 50%;
  }

  @media (min-width: @mobile-width) and (max-width: @desktop-width - 1px) {
    position: absolute;
    left: 0;
  }
}
