.page-main__title {
  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }
}

.page-main__about-us {
  @media (max-width: @mobile-width) {
    margin-top: 65px;
  }
}

.page-main__feedback {
  @media (max-width: @mobile-width) {
    margin-top: 30px;
  }
}
